<style>
</style>

<div style="text-align: center">
  <h1>Todo APP</h1>
</div>

<div style="text-align: center">
  <h2>Todos</h2>
  <app-add-todo></app-add-todo>
  <app-todo-list></app-todo-list>
</div>

<mat-radio-group class="todo-filter-group">
  <mat-radio-button class="todo-filter-button" checked="true">All</mat-radio-button>
  <mat-radio-button class="todo-filter-button" >Pending</mat-radio-button>
  <mat-radio-button class="todo-filter-button">Completed</mat-radio-button>
</mat-radio-group>
<router-outlet></router-outlet>
