<li class="todo-card-item">
    <mat-card class="todo-card">
        <mat-card-header>
            <mat-card-title>
                <h3>Todo Title</h3>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card-content>
        <p>
            Tod Description
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Done</button>
        <button mat-raised-button color="accent">Edit</button>
        <button mat-raised-button color="warn">Delete</button>
    </mat-card-actions>
</li>
